* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #2c003e, #1b001f);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.153);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    min-width: 300px;
}

h1,
h2,
p {
    margin-bottom: 10px;
}

#ticket-no {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 12px;
    letter-spacing: 10px;
}

#win,
#lose {
    font-size: 2rem;
    font-weight: bold;
    display: none;
    animation: fadeIn 0.5s ease forwards;
}

#win {
    color: rgb(24, 220, 66);
}

#lose {
    color: rgb(251, 40, 96);
}

button {
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #9b32ff;
    transform: scale(1.05);
}

.hint {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 5px;
    text-align: center;
}


#rule {
    font-size: 0.9rem;
    color: #ccc;
}

/* Simple fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}